#project-list {
    margin-right: 2rem;
}

.filters-col {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f0f0f0;
}

.filters-header {
    border-bottom: 1px solid #ccc;
}

.filters-header .heading {
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem 2rem 1.5rem 2rem;
}

.filters-header .heading button {
    border: none;
    text-transform: uppercase;
}

.filters-container {
    padding: 0 2rem 2rem 2rem;
}

.filter {
    margin-top: 1.5rem;
}

.filter p {
    margin-bottom: 5px;
}

#filter-search {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: 80%;
    padding: 10px 30px;
    margin: 2rem auto 0 auto;
    border-radius: 30px;
    border: none;
    background-color: #333333;
    color: #ffffff;
}

.checkbox {
    margin-bottom: 5px;
}

.checkbox input {
    margin-right: 5px;
}

.project-col {
    margin-left: 30%;
    margin-top: 2rem;
}

.project-col h2 {
    margin-bottom: 2rem;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.project-card {
    flex: 0 0 33%;
    max-width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.project-image {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.project-details {
    padding: 2rem;
    background-color: #f0f0f0;
}

.project-details h3 {
    margin-top: 0;
}

.project-details p:last-child {
    margin-bottom: 0;
}