#CareGuide,
#CareGuideAdded {
    background-color:#f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#CareGuide {
    flex: 0 0 24%;
}

#CareGuideAdded {
    flex: 0 0 33%;
}

#CareGuideAdded a {
    color:#3F7D20;
    font-weight: 600;
    text-decoration: none;
}


#care-title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

.care-item {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.care-text {
    align-self: center;
}
.care-icon {
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    border-radius: 50%;
    background-color: #464646
}
