#DetailsHeader {
    display: grid;
    grid-template-columns: [start] 50% [middle] 50% [end]
}

#DetailsText {
    grid-column-start: start;
    grid-column-end: middle;
}

#Ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#AddProject {
    justify-self: right;
    align-self: end;
    grid-column-start: middle;
    grid-column-end: end;
    width: fit-content;
    height: fit-content;

}

.progress-segment {
    display: flex;
    flex-direction: row;
    align-self: end;
    justify-self: end;
    width: 90%;
}

.item {
    width: 100%;
    background-color: lightgray;
    margin-right: 2px;
    height: 8px;
}
.item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#completed {
    background-color: green !important;
}
