#Equipment {
    flex: 0 0 34%;
}

#EquipmentAdded {
    flex: 0 0 50%;
}

.no_bullets {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.no_bullets div {
    margin-bottom: 5px;
}

.equip_item {
    height: fit-content;
    display: flex;
    flex-direction: row;
    
}

.equip_item input {
    margin-top: 3px;
    margin-right: 8px;
}

#Amazon {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #121b21;
    color: #ffffff;
    font-weight: 600;
}

#Amazon:hover {
    cursor: pointer;
    background: #3F7D20;
}
