#ProjectDisplay {
    margin-top: 20px;
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: [start] 65% [middle] 33% [end];
    column-gap: 2%;
    grid-template-rows: [top] 50% [center] 50% [bottom];
    row-gap: 10px;
}

#Image1 {
    grid-column-start: start;
    grid-column-end: middle;
    grid-row-start: top;
    grid-row-end: bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Image2 {
    grid-column-start: middle;
    grid-column-end: end;
    grid-row-start: top;
    grid-row-end: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#Image3 {
    grid-column-start: middle;
    grid-column-end: end;
    grid-row-start: center;
    grid-row-end: bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
