#ProjectDetails {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    width: 70%;
    top: 0%;
    left: 15%;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
}


#QuickInfo {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

#QuickInfoAdded {
    margin-top: 20px;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.details_close {
    margin-left: 95%;
    position: absolute;
    float: right;
}
