#UserPhotos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.entry {
    display: flex;
    flex-direction: column;
    position: relative;
}

.photo {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #bbb;
}

.photo:hover {
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.profile-pic {
    align-self: center;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;	
    border-radius: 50%;
    background-color: #464646;
    margin-right: 20px;
}


.like {
    margin-left: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.user-info .username {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.username-wrapper {
    display: flex;
}

.like-button {
    height:30px;
    width:30px;
}

.like_count {
    align-self: center;
}

.user-container {
    position: absolute;
    color: #ffffff;
}

.messages a {
    background-color: #72B01D;
    padding: 8px 15px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
}

.messages a:hover {
    background-color: #3F7D20
;} 

.user-popup-content {
    display: inline-flex;
    height: 300px;
    width: 300px;
    flex-direction: column;
    padding: 1rem;
    background: rgba(0,0,0,0.6);
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}

.close:hover {
    cursor: pointer;
}

#upload_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    padding-bottom: 30px;
}

.vertical-frame {
    display: flex;
    flex-direction: row;
}

.horizontal-frame {
    display: flex;
    flex-direction: column;
}

.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badges .badge-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 0;
}
