#UserPhotos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.entry {
    display: flex;
    flex-direction: column;
    position: relative;
}

.photo {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #bbb;
}

.photo:hover {
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.profile-pic {
    align-self: center;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;	
    border-radius: 50%;
    background-color: #464646;
    margin-right: 5px;
}


.like {
    margin-left: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.username {
    margin-left: 5px;
    margin-bottom: 5px;
    align-self: start;
    font-size: 20px;
}

.like-button {
    height:30px;
    width:30px;
}

.like_count {
    align-self: center;
}

.user-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    padding: 20px;
    color: #ffffff;
}

.messages a {
   color: #ffffff;
}

.user-popup-content {
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}

.close:hover {
    cursor: pointer;
}

#upload_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-self: center;
    padding-bottom: 30px;
}

.vertical-frame {
    display: flex;
    flex-direction: row;
}

.horizontal-frame {
    display: flex;
    flex-direction: column;
}

.badge-image {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #e0e0e0;
    background-position: center center;
    object-fit: cover;
}
