.navlink {
    text-decoration: none;
    color: black;
}

.PreQuizWrapper{
    max-width: 1140px;
    margin:0 auto;
    
}

.PreQuizText{
    padding: 3rem 3rem;
}

.howdowemat{
    text-align: center;
    margin-bottom: 1.5rem;
}

.alreadyhav{
  text-align: center;
  margin-bottom: 1.5rem;
}

.aquizmayhe, .projectrec, .aprojectwi{
    color: #000000;
    font-weight: 500;
}

.skipthistu{
    color: #000000;
    font-weight: 500;
}

.startthequ{
    color: #000000;
}

.choose{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.yesiwantto {
    background-color: #3F7D20;
    padding: 20px 30px;
    margin-right: 20px;
}

.yesiwantto:hover {
    background-color: #72B01D;
}

.noiwantsom {
    background-color: #121b21;
    padding: 20px 30px;
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.quizReason {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
    line-height: 150%;
}

.checkSkipWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 8.15%;
}

.inputBox{
    margin-right: 5px;
}

.QuizQuestionsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    min-width: 50%;
    max-width: 50%;
    margin: 3rem auto;
    background: #FFF;
    border-radius: 3px;
}

.StartQuizWrapper{
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: inline-block;
    margin-top: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    white-space: nowrap;
    text-align: center;
    background-color: #C0BEBE;
}