.SeeResult{
    font-size: 250%;
    font-family: "Open sans";
    font-weight: 500;
    
}

.SeeResultWrapper{
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: inline-block;
    margin-top: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    white-space: nowrap;
    text-align: center;
    background-color: #C0BEBE;
}

.displayCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}