.SeeResult a {
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
}

.SeeResultWrapper{
    border-width: 1px;
    border-radius: 0px;
    display: inline-block;
    margin-top: 2.5%;
    padding: 1rem 2rem;
    white-space: nowrap;
    text-align: center;
    background-color: #3F7D20;
}

.SeeResultWrapper:hover {
    background-color: #72B01D;
}

.displayCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}