@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.profile-frame {
  display: flex;
  flex-direction: row;
}

.profile-content {
  display:flex;
  flex-direction: column;
  width: 60vw;
}

.profile-title {
  padding-top: 3vw;
  font-size: 30pt;
  text-align:center;
}

.profile-subtitle {
  margin-top: 1vw;
  font-size: 20pt;
}

.profile-sub-content {
  padding-bottom: 1vw;
  padding-top: 1vw;
  padding-left: 0.5vw;
  width: 100%;
  position: relative;
}

.sidebar {
  padding-left: 10vw;
  padding-right: 0.5vw;
}

.horizontal-divider {
  padding-top: 10pt;
  margin-bottom: 10pt;
  border-bottom: 1px solid black;
  border-bottom-color: #C0C0C0;
  width: 100%;
}

.vertical-divider {
  padding-right: 2vw;
  border-left:1px solid black;
  border-left-color: #C0C0C0;
}

.ul-no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.album {
  margin-top: 10px;
}

.list-title {
  background-color: #C0C0C0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14pt;
}

.list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 13pt;
  border-bottom:1px solid black;
  border-bottom-color: #C0C0C0;
}

.content-text {
  font-size: 13pt;
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}