.navlink {
    text-decoration: none;
    color: black;
}

.navbar{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: black;
    overflow: hidden;
}

.dropDown{
    margin-right: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 2.127%;
    background-color: #FFFFFF;
    min-width: 14.7905%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-show {
    display: block;
    position: absolute;
    margin-top: 2.127%;
    background-color: #FFFFFF;
    min-width: 14.7905%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8%;
    padding-bottom: 8%;
}

.menuItem{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 15%;
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-size: 160%;
    font-weight: normal;
}

#menuItemHome{
    font-weight: bold;
}

.appname{
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 200%;
    text-decoration: none;
    color: black;
}

.username{
    margin-bottom: 0%;
    font-size: 200%;
    white-space: nowrap;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
}
/*
    border-style: solid;
    border-width: 1px;
    border-top-color: white;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
*/
.MenuWrapper{
    padding-left: 0%;
    padding-right: 0%;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1Changed{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2Changed{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    opacity: 0;
}

.bar3Changed{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.PODwrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    position: relative;
}

.PODwrapper::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

.PODtext{
    margin: 5% 7%;
    max-width: 900px;
    z-index: 2;
}

.POD{
    font-family: "Open Sans";
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 18px;
}

.plantName{
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 2rem;
}

.plantDesc{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 2.5rem;
}

.buttonToPOD{
    border-radius: 30px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    background: #4c9a2a;
    font-weight: 500;
    color: #FFFFFF;
}

.buttonToPOD:hover {
    background: #3a7520;
}

#FeaturedProjects{
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 7%;
}

.FeaturedProjectsWrapper{
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
}

.FeaturedProject{
    width: 25%;
    text-align: center;
}

.FPimg{
    width: 70%;
    height: auto;
}

.projectName{
    margin: 3%;
    font-weight: bold;
    font-size: 180%;
    font-family: "Open Sans";
}

.UCRborder{
    margin-left: 7%;
    margin-right: 7%;
    border-style: solid;
    border-width: 1px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: black;
    text-align: left;
}

#UpcomingCareReminders{
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 1%;
}

.DateSplit{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-bottom: 3%;
}

.TaskSplit{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.TaskWrapper{
    margin-top: 2%;
}

.UCRdate{
    font-size: 173%;
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-weight: 500;
}

.divideTimeAndTask{
    display: flex;
    flex-direction: row;
}

.timeWrapper{
    
    border-style: solid;
    border-width: 3px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: white;
    white-space: nowrap;   
    padding-right: 2%;
}

.UCRtime{
    font-weight: bold;
    font-size: 186%;
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
}

.locationAndTaskWrapper{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.UCRlocation{
    color: #666;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 106%;
}

.UCRtask{
    color: rgba(0, 0, 0, 1);
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 160%;
}